font-family: 'Lato', sans-serif;

h1
{font-size: 200px;}


.mission-color{
    color: rgb(241, 82, 25);
}
#text-center{
    text-align: center;
}
footer{
    background-color: black;
    text-align: center;
    width: 100%;
    height: 140px;
    font-family: sans-serif;
}
.footer-text-color{
    color: white;
   
}
.link-button{
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 89, 89);
    padding: 15px 20px 15px 15px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.footer-text-height{
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
padding: 15px;

}
